{% extends "expenses_control/szkielet.html" %}
{% load staticfiles %}
{% load panel_expenses_control_filters %}

{% comment %}
{% block navigation  %}
{% endblock navigation  %}


{% block header  %}
{% endblock header  %}
{% endcomment %}

{% block main_content  %}

<div class="container">

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    

</div> <!-- container -->

<div class="col-lg-2">

{% include "panel_expenses_control/panel_lista_miesiecy.html" %}

</div>

<div class="col-lg-10">
<div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;Wybrany miesiąc: {{ miesiac_nazwa }} {{ rok }}
		    <span class="pull-right">
			<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;<a href="{% url "panel_expenses_control.views.index" %}">Przejdź do bieżącego miesiąca</a>
			&nbsp;&nbsp;
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<a href="{% url "panel_expenses_control.views.nowywydatek" %}">Dodaj nowy wydatek</a>
		    </span>
                </div>
                <div class="panel-body">


		    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	            <li class="active"><a href="#wydatki" data-toggle="tab">Wydatki</a></li>
            	    <li><a href="#statystyki" data-toggle="tab">Statystyki</a></li>
		    <li><a href="#inne" data-toggle="tab">Inne</a></li>
		    </ul>
		    <div id="my-tab-content" class="tab-content">

			<div class="tab-pane active" id="wydatki">
			<br>
		        {% if wydatki|length != 0 %}
		        <div class="table-responsive">
		                <table class="table table-hover table-curved">
		                        <thead>
		                                <tr class="success">
		                                        <th>#</th>
		                                        <th>Źródło</th>
		                                        <th>Data</th>
		                                        <th>Kontrahent</th>
		                                        <th>Kwota</th>
		                                        <th>Kategoria</th>
		                                        <th>Podkategoria</th>
		                                        <th>Dotyczy osoby</th>
		                                        <th>Notatka</th>
							<th>Właściciel</th>
		                                </tr>
		                        </thead>
		                        <tbody id="myTable">
		                                {% for wydatek in wydatki %}
		                                        <tr     class="{% if forloop.counter|divisibleby:2 %} warning {% endif %}">
		                                                <td>{{forloop.counter}}</td>
		                                                <td>{{wydatek.zrodlo}}</td>
		                                                <td>{{wydatek.data|date:"d.m.Y"}}</td>
		                                                <td>{{wydatek.kontrahent}}</td>
		                                                <td class="text-center">{{wydatek.kwota}}</td>
		                                                <td>{{wydatek.kategoria}}</td>
		                                                <td>{{wydatek.podkategoria}}</td>
		                                                <td>{{wydatek.osoba}}</td>
		                                                <td>{{wydatek.notatka}}</td>
								<td>{{wydatek.wlasciciel}}</td>
		                                        </tr>
		                                {% endfor %}
		                        </tbody>
		                </table>
		        </div>
		        {% else %}
			<center><i>Nie ma jeszcze żadnych wydatków w tym miesiącu...<br><br></i></center>
		        {% endif %}
			</div>

			<div class="tab-pane" id="statystyki">
                            <h1>statystyki</h1>
                            <p>Suma wszystkich wydatków: {{ suma_wszystkich_wydatkow.suma_miesieczna }}</p>
				<br>
				<br>
					{% for rekord in suma_per_kategoria %}
						Kategoria: {{ rekord.kategoria__nazwa }} suma: {{ rekord.suma_w_kategorii }}<br>
					{% endfor %}
                        </div>

			<div class="tab-pane" id="inne">
			    <h1>inne</h1>
	                    <p>
				Przekazany rok: {{ rok }}
				<br>
				Przekazany miesiac: {{ miesiac }}
				<br>
				Zadaj argumenty: <a href="{% url "panel_expenses_control.views.index" rok=2009 miesiac=5 %}">tutaj &rarr;</a>
				<br>
				Przejdż do bieżącego miesiąca: <a href="{% url "panel_expenses_control.views.index" %}">tutaj &rarr;</a>
				<br>
				Dzisiejsza data: {% now "Y-m-d" %}
				<br>
				Zalogowany user_id: {{ user.pk }}
	                    </p>
			</div>


		    </div>
                </div>
                <div class="panel-footer">
			&nbsp;
                </div>
</div>
</div>



{% endblock main_content  %}


