{% extends "expenses_control/szkielet.html" %}
{% load staticfiles %}
{% load panel_expenses_control_filters %}


{% block main_content  %}

<div class="container">

{# obsługa zakładek: wydatki, statystyki, inne #}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    

</div> <!-- container -->

{# panel z listą par rok-miesiac #}
<div class="col-lg-2">
	{% include "panel_expenses_control/panel_lista_miesiecy.html" %}
</div>

{# prawa, główna, część strony z wydatkami, patrząc od góry mamy: panel, zakładki, tabelka z wydatkami #}
<div class="col-lg-10">
<div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;Wybrany miesiąc: {{ miesiac_nazwa }} {{ rok }}
		    <span class="pull-right">
			<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;<a href="{% url "panel_expenses_control.views.index" %}">Przejdź do bieżącego miesiąca</a>
			&nbsp;&nbsp;
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<a href="{% url "panel_expenses_control.views.nowywydatek" %}">Dodaj nowy wydatek</a>
		    </span>
                </div>

                <div class="panel-body">
		    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	            <li class="active"><a href="#wydatki" data-toggle="tab">Wydatki</a></li>
            	    <li><a href="#statystyki" data-toggle="tab">Statystyki</a></li>
		    <li><a href="#inne" data-toggle="tab">Inne</a></li>
		    </ul>
		    <div id="my-tab-content" class="tab-content">

			<div class="tab-pane active" id="wydatki">
			<br>
		        {% if wydatki|length != 0 %}
		        <div class="table-responsive">
		                <table class="table table-hover table-curved">
		                        <thead>
		                                <tr class="success">
		                                        <th>#</th>
		                                        <th>Źródło</th>
		                                        <th>Data</th>
		                                        <th>Kontrahent</th>
		                                        <th>Kwota</th>
		                                        <th>Kategoria</th>
		                                        <th>Podkategoria</th>
		                                        <th>Dotyczy osoby</th>
		                                        <th>Notatka</th>
							<th>Właściciel</th>
		                                </tr>
		                        </thead>
		                        <tbody id="myTable">
		                                {% for wydatek in wydatki %}
		                                        <tr     class="{% if forloop.counter|divisibleby:2 %} warning {% endif %}">
		                                                <td>{{forloop.counter}}</td>
		                                                <td>{{wydatek.zrodlo}}</td>
		                                                <td>{{wydatek.data|date:"d.m.Y"}}</td>
		                                                <td>{{wydatek.kontrahent}}</td>
		                                                <td class="text-center">{{wydatek.kwota}}</td>
		                                                <td>{{wydatek.kategoria}}</td>
		                                                <td>{{wydatek.podkategoria}}</td>
		                                                <td>{{wydatek.osoba}}</td>
		                                                <td>{{wydatek.notatka}}</td>
								<td>{{wydatek.wlasciciel}}</td>
		                                        </tr>
		                                {% endfor %}
		                        </tbody>
		                </table>
		        </div>
		        {% else %}
			<center><i>Nie ma jeszcze żadnych wydatków w tym miesiącu...<br><br></i></center>
		        {% endif %}
			</div>

			<div class="tab-pane" id="statystyki">
                            <p><b>Suma wszystkich wydatków: {{ suma_wszystkich_wydatkow.suma_miesieczna }}</b></p>
                            <p>Liczba wszystkich wydatków: {{ licznik_wszystkich_wydatkow.licznik_miesieczny }}</p>
                            Sumy w poszczególnych kategoriach:
                                        <ul>
                                        {% for rekord in suma_per_kategoria %}
                                                <br>
                                                <li>Kategoria: <b>{{ rekord.kategoria__nazwa }}</b>, suma: <b>{{ rekord.suma_w_kategorii }}</b><br></li>

                                                {% comment %} teraz przebiegam przez liste sum wszystkich podkategorii i wyswietlam tylko te zwiazane z biezaca kategoria {% endcomment %}
                                                <ul>
                                                {% for podrekord in suma_per_podkategoria %}
                                                        {% if podrekord.kategoria == rekord.kategoria %}
                                                                <li>{{ podrekord.podkategoria__nazwa }}: {{ podrekord.suma_w_podkategorii }}<br></li>
                                                        {% endif %}
                                                {% endfor %}
                                                </ul>
                                        {% endfor %}
                                        </ul>
                             Sumy per osoba:
                             			<ul>
                             			{% for rekord in suma_per_osoba %}
                             					<li>Osoba: <b>{{ rekord.osoba__nazwa }}</b>, suma: <b>{{ rekord.suma_na_osobe }}</b><br></li>
                             			{% endfor %}
                             			</ul>
                             Najpopularniejszy kontrahent, względem sumy wydatków:
                             			<ul>
                             			{% for rekord in suma_per_kontrahent %}
                             					<li>Kontrahent: <b>{{ rekord.kontrahent__nazwa }}</b>, suma: <b>{{ rekord.suma_na_kontrahenta }}</b><br></li>
                             			{% endfor %}
                             			</ul>         
                             Najpopularniejszy kontrahent, względem ilości wydatków:
                             			<ul>
                             			{% for rekord in licznik_per_kontrahent %}
                             					<li>Kontrahent: <b>{{ rekord.kontrahent__nazwa }}</b>, suma: <b>{{ rekord.licznik_na_kontrahenta }}</b><br></li>
                             			{% endfor %}
                             			</ul>                                			                    			

                        </div>

			<div class="tab-pane" id="inne">
			    <h1>inne</h1>
	                    <p>
				Przekazany rok: {{ rok }}
				<br>
				Przekazany miesiac: {{ miesiac }}
				<br>
				Zadaj argumenty: <a href="{% url "panel_expenses_control.views.index" rok=2009 miesiac=5 %}">tutaj &rarr;</a>
				<br>
				Przejdż do bieżącego miesiąca: <a href="{% url "panel_expenses_control.views.index" %}">tutaj &rarr;</a>
				<br>
				Dzisiejsza data: {% now "Y-m-d" %}
				<br>
				Zalogowany user_id: {{ user.pk }}
	                    </p>
			</div>


		    </div>
                </div>

                <div class="panel-footer">
			&nbsp;
                </div>
</div>
</div>

{% endblock main_content  %}


