{% extends "expenses_control/szkielet.html" %}
{% load staticfiles %}

{% comment %}
{% block navigation  %}
{% endblock navigation  %}


{% block header  %}
{% endblock header  %}
{% endcomment %}

{% block main_content  %}

<div class="container">

<!-------->
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#red" data-toggle="tab">Red</a></li>
        <li><a href="#orange" data-toggle="tab">Orange</a></li>
        <li><a href="#yellow" data-toggle="tab">Yellow</a></li>
        <li><a href="#green" data-toggle="tab">Green</a></li>
        <li><a href="#blue" data-toggle="tab">Blue</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="red">
            <h1>Red</h1>
            <p>red red red red red red</p>
        </div>
        <div class="tab-pane" id="orange">
            <h1>Orange</h1>
            <p>orange orange orange orange orange</p>
        </div>
        <div class="tab-pane" id="yellow">
            <h1>Yellow</h1>
            <p>yellow yellow yellow yellow yellow</p>
        </div>
        <div class="tab-pane" id="green">
            <h1>Green</h1>
            <p>green green green green green</p>
        </div>
        <div class="tab-pane" id="blue">
            <h1>Blue</h1>
            <p>blue blue blue blue blue</p>
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->

<div class="col-lg-3">
<div class="panel panel-info">
                <div class="panel-heading">
                    This is a header
                </div>
                <ul class="list-group list-group-flush">
			{% if lista_par_miesiac_rok %}
				{% for rekord in lista_par_miesiac_rok %}
			                <li class="list-group-item"> {{ rekord.0 }} - {{ rekord.1 }} <a href="{% url "panel_expenses_control.views.index" rok=rekord.0 miesiac=rekord.1 %}">link</a>  </li>
			        {% endfor %}
			{% else %}
				<li class="list-group-item"> brak danych </li>
			{% endif %}
                </ul>
                <div class="panel-footer">
                    This is a footer
                </div>
</div>
</div>

<div class="col-lg-9">
<div class="panel panel-info">
                <div class="panel-heading">
                    Wybrany miesciąc: {{ miesiac_nazwa }} {{ rok }}
                </div>
                <div class="panel-body">
                    <p>
			Przekazany rok: {{ rok }}
			<br>
			Przekazany miesiac: {{ miesiac }}
			<br>
			Zadaj argumenty: <a href="{% url "panel_expenses_control.views.index" rok=2009 miesiac=5 %}">tutaj &rarr;</a>
			<br>
			Przejdż do bieżącego miesiąca: <a href="{% url "panel_expenses_control.views.index" %}">tutaj &rarr;</a>
                    </p>
                </div>
                <div class="panel-footer">
                    This is a footer
                </div>
</div>
</div>

{% endblock main_content  %}


