{% extends "expenses_control/szkielet.html" %}
{% load staticfiles %}


{% block main_content  %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		    <p>Witaj na stronie Expenses Control Panel. Strona, na której się znajdujesz, to prosty system umożliwiający ewidencję domowych wydatków. Głownym celem stworzenia niniejszej aplikacji, oprócz zapisywania informacji o wydatkowaniu swoich środków, jest możliwość obserwowania pewnych statystyk wyłaniających się z zapisywanych rekordów na przestrzeni czasu. Takie statystyki mogą służyć jako wkazówka dotycząca planowania domowego budżetu, bądź jako narzędzie do diagnozowania istniejących problemów.</p>
		    <p>Expenses Control Panel ma być prostym narzędziem, którego użytkowanie nie ma być czasochłonne, a który umożliwi obserwację pewnych trendów i być może w ten sposób okaże się przydatny podczas planowania domowego budżetu.</p>
		    <p>Aplikacja, którą obserwujesz, to jej pierwsza wersja, która nie posiada jeszcze zbyt wielu funkcjonalności, ale nadaje się już do użytkowania w pewnym podstawowym zakresie. W miarę możliwosci będzie ona rozbudowywana i udoskonalana, tak by osiągnąć docelowy kształt.</p>
		    <p>Jeśli masz jakieś uwagi lub sugestie dotyczące wyglądu lub działąnia witryny, zapraszamy do kontaktu!</p>

                    <img class="img-responsive" src="{% static "img/zestawienie.jpg" %}" alt="wystąpił problem z wyświetleniem obrazka">
                    <span class="caption text-muted">Expenses Control Panel ma pomóc użytkownikowi utrzymać swój budżet w ryzach.</span>
                </div>
            </div>
        </div>
    </article>

{% endblock main_content  %}
