{% extends "expenses_control/szkielet.html" %}

{% block main_content  %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                           Witaj na stronie Expenses Control Panel 
                        </h2>
                        <h3 class="post-subtitle">
                            aplikacja zbierająca wydatki
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        {% if user.is_authenticated %}
                                <a href="{% url "panel_expenses_control.views.index" %}">przejdź do aplikacji &rarr;</a>
                        {% else %}
                                <a href="{% url "django.contrib.auth.views.login" %}">przejdź do aplikacji &rarr;</a>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock main_content  %}
